*{
    box-sizing: border-box;
    background-color: white;
    color: black;
    margin: 15px;
}
h1{
    font-size: 4em;
    text-decoration: underline;
    margin: 30px 0;
}
p{
    font-size: 3em;
}
img{
    display: block;
    height: 600px;
    width: 874px;
}
a{
    font-size: 2.5rem;
}
li{
    font-size: 3rem;
}
#top{
    border:1px solid black;
    padding: 20px;
}